{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>

    {% block cssstyle %}

    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
<div class="nav">
    <h3>
        <a href="{% url 'blogs_module:blog_index' %}">个人博客网站</a>

    </h3>
    <a href="{% url 'home' %}">首页</a>
    <a href="{% url 'blogs_module:blog_index' %}">博客</a>
</div>
<hr>
{% block content %}

{% endblock %}


</body>
</html>