{% extends 'base.html' %}
{% load staticfiles %}

{% block cssstyle %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block title %}
    个人博客网站
{% endblock %}


{% block home_active %}
    active
{% endblock %}


{% block content %}
    <h1 class="content">欢迎来到宓珂璟的网站</h1>
    <!-- 图表容器 DOM -->
    <div id="container"></div>
    <div class="hot_blog">
        <h4>今日热门博客</h4>
        <ul>
            {% for read_detail in todays_hots %}
                <li><a href="{% url 'blogs_module:blog_details' read_detail.object_id %}">{{ read_detail.content_object.title }}({{ read_detail.read_num }})</a></li>
            {% empty %}
                暂无今日热门
            {% endfor %}

        </ul>
    </div>
    <div class="hot_blog">
        <h4>昨日热门博客</h4>
        <ul>
            {% for read_detail in yesterday_hots %}
                <li><a href="{% url 'blogs_module:blog_details' read_detail.object_id %}">{{ read_detail.content_object.title }}({{ read_detail.read_num }})</a></li>
            {% empty %}
                暂无今日热门
            {% endfor %}

        </ul>
    </div>
    <div class="hot_blog">
        <h4>过去7天热门博客</h4>
        <ul>
            {% for blog in seven_read_hots %}
                <li><a href="{% url 'blogs_module:blog_details' blog.id %}">{{ blog.title }}({{ blog.read_num_sum }})</a></li>
            {% empty %}
                暂无今日热门
            {% endfor %}

        </ul>
    </div>
    <script>
        // 图表配置
        var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
            },
            yAxis: {
                title: { text: null },
                labels:{ enabled: false },
                gridLineDashStyle: 'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ seven_read_counts }}               // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false },
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock %}