{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    个人博客登录
{% endblock %}

{% block cssstyle %}


{% endblock %}


{% block home_active %}
    active
{% endblock %}


{% block content %}
    {# 当前页面进行数据登录判断，跳转根据前面的from来 #}
    {# http://localhost:8000/login?from=/blogs/detail/41/ #}
    {#    <form action="" method="POST">#}
    {#        {% csrf_token %}#}
    {#        {{ loginform  }}#}
    {#        <input type="submit" value="登录">#}
    {#    </form>#}

    <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in loginform %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                            <input type="submit" value="登录" class="btn btn-primary pull-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}