{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load read_tags %}
{% load like_tags %}
{% block cssstyle %}
    <link rel="stylesheet" href="{% static 'blog_css/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block title %}
    {{ blog.title }}
{% endblock %}


{% block blog_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog_detail_ul">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'blogs_module:blog_types' blog.blog_type.pk %}">{{ blog.blog_type }}</a></li>
                    <li>日期：{{ blog.create_time|date:"Y-m-d H:i:s" }}</li>
                    <li>阅读：{% get_total_read_count blog %}</li>
                    <li>评论：({% get_comment_count blog %})</li>
                </ul>
                <div class="blog_detail_content">{{ blog.content|safe }}</div>

                <div class="like" onclick="likeChange(this, '{% get_content_type blog %}', '{{ blog.pk }}')">
                    <span class="glyphicon glyphicon-thumbs-up {% get_liked_status blog %}"></span>
                    <span class="liked_num">{% get_liked_counts blog %}</span>
                    <span>喜欢</span>
                </div>

                <div>

                    <p>上一篇：
                        {% if previous_blog %}
                            <a href="{% url 'blogs_module:blog_details' previous_blog.pk %}">{{ previous_blog.title }}</a>
                        {% else %}
                            <span>没有了</span>
                        {% endif %}

                    </p>
                    <p>下一篇：
                        {% if next_blog %}
                            <a href="{% url 'blogs_module:blog_details' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else %}
                            <span>没有了</span>
                        {% endif %}

                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10em">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment_container">
                    <h4 class="comment_title">提交评论</h4>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'comment_module:comment_update' %}" method="post"
                              style="overflow:hidden">
                            <label>当前登录用户：{{ user }} 欢迎评论~</label>

                            {#  先隐藏 回复会用到 #}
                            <div id="reply_content_container" style="display:none;">
                                <p id="reply_title"></p>
                                <div id="reply_content"></div>
                            </div>

                            {% csrf_token %}
                            {# 通过模板获取 #}
                            {% get_comment_form blog as comment_forms %}
                            {% for comment_form in comment_forms %}
                                {{ comment_form }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" name="commit" value="评论" class="btn btn-primary pull-right">
                        </form>


                    {% else %}
                        赶紧登录，不然评论个蛋蛋~
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登陆</a>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}
                </div>
                <div class="comment_container">
                    <h4 class="comment_title">显示评论</h4>
                    <div id="comment_lists">
                        {% get_comment_lists blog as comments %}
                        {% for comment in comments %}
                            <div id="root_{{ comment.pk }}" class="comment">
                                <span>{{ comment.user.username }}</span>
                                <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})：</span>
                                <div id="comment_{{ comment.pk }}">
                                    {{ comment.text|safe }}
                                </div>

                                <div class="like"
                                     onclick="likeChange(this, '{% get_content_type comment %}', '{{ comment.pk }}')">
                                    <span class="glyphicon glyphicon-thumbs-up {% get_liked_status comment %}"></span>
                                    <span class="liked_num"> {% get_liked_counts comment %}</span>
                                </div>
                                {#                                <a href="javascript:reply({{ comment.pk }});">回复</a>#}
                                <a class="reply_link" href="javascript:void(0)"
                                   onclick="reply('{{ comment.pk }}','{{ comment.user.username }}', '{{ user.is_authenticated }}')">回复</a>

                                {% for reply in comment.root_comment.all %}
                                    <div class="reply">
                                        <span>{{ reply.user.username }}</span>
                                        <span>({{ reply.comment_time|date:"Y-m-d H:i:s" }})：</span>
                                        <span>回复</span>
                                        <span>{{ reply.reply_to.username }}</span>
                                        <div id="comment_{{ reply.pk }}">
                                            {{ reply.text|safe }}
                                        </div>

                                        <div class="like"
                                             onclick="likeChange(this, '{% get_content_type reply %}', '{{ reply.pk }}')">
                                            <span class="glyphicon glyphicon-thumbs-up {% get_liked_status reply %}"></span>
                                            <span class="liked_num"> {% get_liked_counts reply %}</span>
                                        </div>
                                        {#                                        <a href="javascript:reply({{ reply.pk }});">回复</a>#}
                                        <a class="reply_link" href="javascript:void(0)"
                                           onclick="reply('{{ reply.pk }}','{{ reply.user.username }}', '{{ user.is_authenticated }}')">回复</a>
                                    </div>
                                {% endfor %}

                            </div>
                        {% empty %}
                            <span id="no_comment">暂无评论</span>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade bs-example-modal-sm" id="login_modal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <form id="login_modal_form" action="" method="POST">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">登录</h4>
                        </div>
                        <div class="modal-body">

                            {% csrf_token %}
                            {% for field in loginform %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            {% endfor %}
                            <span id="login_modal_tips" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script_extend %}
    <script type="text/javascript">
        // js 字符串拼接重写
        String.prototype.format = function () {
            console.log(arguments.length)
            if (arguments.length == 0) {
                return this
            }
            ;
            var str = this;
            for (i = 0; i < arguments.length; i++) {
                str = str.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
            }
            return str;
        }

        // 点击回复后把变淡隐藏属性赋值  reply_comment_id
        function reply(reply_comment_id, name, is_login) {
            console.log(reply_comment_id);
            console.log(name);
            if (is_login == 'False') {
                $('#login_modal').modal('show')
            }
            $('#reply_comment_id').val(reply_comment_id);
            let html = $('#comment_' + reply_comment_id).html();
            let html2 = '<p>回复:' + name + '</p>';
            $('#reply_content').html(html);
            $('#reply_title').html(html2);
            $('#reply_content_container').show();

            $('#comment_error').text('');
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function () {
                CKEDITOR.instances['id_text'].focus();
            });
        }

        // 格式化字符串
        function numFormat(num) {
            return ('00' + num).substr(-2);
        }

        function timeFormat(timestamp) {
            console.log(timestamp)
            let date = new Date(timestamp * 1000);
            year = date.getFullYear() + '-';
            month = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            day = numFormat(date.getDate()) + ' ';
            hour = numFormat(date.getHours()) + ':';
            minus = numFormat(date.getMinutes()) + ':';
            second = numFormat(date.getSeconds());
            return year + month + day + ' ' + hour + minus + second;
        }

        // 提交评论表单
        $("#comment_form").submit(function () {
            // 清空之前的错误
            $("#comment_error").text('');
            if (CKEDITOR.instances["id_text"].document.getBody().getText().trim() == '') {
                $("#comment_error").text('评论内容不能为空!!!!');
                return false;
            }
            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            $.ajax({
                url: "{% url 'comment_module:comment_update' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data)
                    if (data['status'] == "SUCCESS") {
                        if ($('#reply_comment_id').val() == '0') {
                            // 评论  头插 prepend comment_lists 整个List进行头插
                            {#var comment_html = '<div id="root_' + data['pk'] + '" class="comment"><span>' + data['username'] + '</span><span>(' + timeFormat(data['comment_time']) + ')：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:void(0)" onclick="reply(' + "'" + data['pk'] + "'" + ",'" + data['username'] + "'" + ')">回复</a></div>';#}
                            var comment_html = '<div id="root_{0}" class="comment">' +
                                '<span>{1}</span>' +
                                '<span>({2})：</span>' +
                                '<div id="comment_{0}">{3} </div>' +
                                '<div class="like" onclick="likeChange(this, \'{4}\', \'{0}\')">' +
                                '<span class="glyphicon glyphicon-thumbs-up"></span>' +
                                '<span class="liked_num"> 0</span>' +
                                '</div>' +
                                '<a class="reply_link" href="javascript:void(0)" onclick="reply(\'{0}\',\'{1}\', \'True\')">回复</a>' +
                                '</div>';

                            comment_html = comment_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['text'], data['content_type']);
                            $('#comment_lists').prepend(comment_html)

                        } else {
                            // 回复 尾部 append 找到对应的顶级评论，尾部append进行尾插
                            {#var reply_html = '<div class="reply"><span>' + data['username'] + '</span><span>(' + timeFormat(data['comment_time']) + ')：</span><span>回复</span><span>' + data['reply_to'] + '</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:void(0)" onclick="reply(' + "'" + data['pk'] + "'" + ",'" + data['username'] + "'" + ')">回复</a></div>';#}
                            var reply_html = '<div class="reply">' +
                                '<span>{1}</span>' +
                                '<span>({2})：</span>' +
                                '<span>回复</span>' +
                                '<span>{3}</span>' +
                                '<div id="comment_{0}">' +
                                '{4}' +
                                '</div>' +
                                '<div class="like" onclick="likeChange(this, \'{5}\', \'{0}\')">' +
                                '<span class="glyphicon glyphicon-thumbs-up"></span>' +
                                '<span class="liked_num"> 0</span>' +
                                '</div>' +
                                '<a class="reply_link" href="javascript:void(0)" onclick="reply(\'{0}\',\'{1}\', \'True\')">回复</a>' +
                                '</div>';
                            reply_html = reply_html.format(data['pk'], data['username'], timeFormat(data['comment_time']), data['reply_to'], data['text'], data['content_type']);
                            $('#root_' + data['root_pk']).append(reply_html);

                        }
                        // 清空editor
                        CKEDITOR.instances['id_text'].setData('');
                        // 清空评论信息
                        $('#reply_content_container').hide();
                        // 移除暂无评论
                        $('#no_comment').remove();
                        // 表单评论id置空
                        $('#reply_comment_id').val('0')
                        $("#comment_error").text('评论成功');

                    } else {
                        // 失败
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });

            return false;

        });

        // 点赞
        function likeChange(obj, content_type, object_id) {
            // is_liked YES 代表已点赞
            var is_liked = obj.getElementsByClassName('active').length != 0

            console.log(is_liked)
            $.ajax({
                url: '{% url 'likes_module:likes_update' %}',
                type: 'GET', // TODO ajax提交POST表单
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_liked: is_liked,
                },
                cache: false,
                success: function (data) {
                    if (data['status'] == 'SUCCESS') {
                        var element = $(obj.getElementsByClassName('glyphicon'))
                        if (!is_liked) {
                            // 点赞
                            element.addClass('active')
                        } else {
                            // 取消点赞
                            element.removeClass('active')
                        }
                        var element = $(obj.getElementsByClassName('liked_num'))
                        var result = ' ' + data['data'];
                        element.text(result)

                    } else {

                        if (data['code'] == '10001') {
                            $('#login_modal').modal('show')

                        } else {
                            alert(data['message'])
                        }
                    }

                },
                error: function (xhr) {
                    console.log(xhr)

                }
            })
        }

        $('#login_modal_form').submit(function () {
            $('#login_modal_tips').text('')
            $.ajax({
                url:{%url 'login_modal' %},
                data:$(this).serialize(),
                type:'POST',
                cache:false,
                success:function (data) {
                    if (data['code'] == 200){
                        $('#login_modal_tips').text('')
                        window.location.reload()
                    }else {
                        $('#login_modal_tips').text('用户名或者密码不正确')
                    }

                },
                error:function (xhr) {
                    consolo.log(xhr)
                }
            });
            return false;
        })

    </script>
{% endblock %}

