{% extends 'base.html' %}
{% load staticfiles %}

{% block cssstyle %}
    <link rel="stylesheet" href="{% static 'blog_css/blog.css' %}">
{% endblock %}

{% block title %}
    我的网站
{% endblock %}

{% block blog_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_title_header %}博客列表（一共有{{ page_of_blogs.paginator.count }}
                        篇博客）{% endblock %}</div>
                    <div class="panel-body">
                        <ul class="blog_types">
                            {% for blog in page_of_blogs.object_list %}
                                <div class="every_blog">
                                    <h3><a href="{% url 'blogs_module:blog_details' blog.pk %}">{{ blog.title }}</a>
                                    </h3>
                                    <ul class="blog_list_style">

                                        <li>
                                            <span class="glyphicon glyphicon-tags"></span> <a
                                                href="{% url 'blogs_module:blog_types' blog.blog_type.pk %}"> {{ blog.blog_type.type_name }}</a>
                                        </li>
                                        <li><span
                                                class="glyphicon glyphicon-time"></span> {{ blog.create_time|date:"Y-m-d" }}
                                        </li>
                                    </ul>
                                    <p>{{ blog.content | truncatechars:130 }}</p>
                                </div>

                            {% empty %}
                                <div class="every_blog">
                                    <p>--暂无博客，敬请期待--</p>
                                </div>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="blog_page_container">
                    {% if page_of_blogs %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    {% if page_of_blogs.has_previous %}
                                        <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    {% else %}
                                        <span aria-hidden="true">&laquo;</span>
                                    {% endif %}

                                </li>
                                {% for page_num in page_range %}
                                    {% if page_num == '...' %}
                                        <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                        {% if page_num == page_of_blogs.number %}
                                            <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                        {% endif %}
                                    {% endif %}

                                {% endfor %}
                                <li>
                                    {% if page_of_blogs.has_next %}
                                        <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    {% else %}
                                        <span aria-hidden="true">&raquo;</span>
                                    {% endif %}

                                </li>
                            </ul>
                        </nav>

                        <p>当前第{{ page_of_blogs.number }}篇（一共有{{ page_of_blogs.paginator.count }}
                            篇博客）</p>
                    {% endif %}


                </div>

            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog_types">
                            {% for type in blogTypes %}
                                <li><a href="{% url 'blogs:blog_types' type.pk %}">{{ type.type_name }}</a></li>
                            {% empty %}
                                暂无博客分类
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">按时间归档</div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            {% for blogDate in blogDates %}
                                <li><a href="{% url 'blogs_module:blog_dates' blogDate.year blogDate.month %}">{{ blogDate|date:"Y年m月" }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

