ul.blog_types {
    list-style-type: none;
}

div h3 {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

div.every_blog:not(:last-child) {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

ul.blog_list_style {
    list-style-type: none;
    margin-bottom: 1em;
}

ul.blog_list_style li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
}

ul.blog_list_style li span {
    margin-right: 5px;
}

ul.blog_detail_ul {
    list-style-type: none;

}

ul.blog_detail_ul li {
    display: inline-block;
    margin-right: 1em;
}

div.blog_detail_content {
    text-indent: 2em;
    margin-bottom: 2em;
}

div.blog_page_container {
    text-align: center;
}


div.comment_container {
    margin-top: 2em;
}

.comment_title {
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

div.reply {
    margin-left: 2em;
}

div#reply_content_container{
    border: 1px solid #ececec;
    background-color: #f8f8f8;
    border-bottom: none;
    padding: 1em 1em 1em 1em;
    overflow: hidden;
}

p#reply_title{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 1em;
}

div.like{
    color: #4e89c0;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like span.active{
    color: red;
}